/* This file is intentionally left blank to prevent automatic scrolling on page load. */

#scrollToTopBtn {
  transition: opacity 0.5s ease-in-out;
}

#social-icons.highlight {
  position: relative;
}

#social-icons.highlight::before {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  border: 3px solid #ffcc00;
  border-radius: 50px; /* Adjust for a more oval shape */
  animation: draw-oval 1s forwards;
}

@keyframes draw-oval {
  from {
    clip-path: ellipse(0% 0% at 50% 50%);
  }
  to {
    clip-path: ellipse(100% 100% at 50% 50%);
  }
}
