---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import TestimonialsPage from '../components/TestimonialsPage.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Header />
	
	<div class="min-h-screen bg-stone-100 p-5 md:p-10">
		<main class="max-w-5xl mx-auto">
			<TestimonialsPage />
		</main>
	</div>
	
	<Footer />
</Layout>
