---
import AboutSection from './AboutSection.astro';
import FeaturesGrid from './FeaturesGrid.astro';
import PricingSection from './PricingSection.astro';
---

<div class="min-h-screen bg-stone-100 p-5 md:p-10">
	<main class="max-w-7xl mx-auto">
		<AboutSection />
		<FeaturesGrid />
		<PricingSection />
	</main>
</div>
